<!doctype html>
<html lang="en">
  <head>
    <!-- Obligatory meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Other neccessary tags -->
    <!-- <meta name="description" content=""> TODO: add description -->
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="google" content="notranslate" />

    <title>Location results for</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      .topnav {
        background-color: #979797;
        overflow: hidden;
        /* text-align: center; */
        /* padding-top: 10px;
            padding-bottom: 10px; */
      }
      .topnav p {
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div class="topnav">
      <p>PySpill</p>
      <a href="/">(go home)</a>
    </div>

    <h1>Location results for {{ location_name }}</h1>

    {% if data is none %}
    <p>No results were found for your query</p>
    <p>
      Make sure that your spelling is correct, and that you have supplied at a
      state to search in.
    </p>
    {% else %}
    <div>
      <ul>
        <li>
          Number of Accidents:
          <strong>{{ data['accidentCount']}}</strong>
        </li>
        <li>
          Unintentional Release of Oil (barrels):
          <strong>{{ data['totalUnintentionalRelease'] }}</strong>
        </li>
        <li>
          Total Net Loss of Oil (barrels):
          <strong>{{ data['totalNetLoss'] }}</strong>
        </li>
        <li>
          Total Cost from Spills: <strong>${{ data['totalCosts'] }}</strong>
        </li>
      </ul>
    </div>
    {% endif %}
  </body>
</html>
