  <html>
  <head>
    <title>PySpill: Map</title>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
    />
  </head>
  <body>
    <div class="navbar">
      <nav>
        <ul>
          <li>
            <a class="home-link" href="/">PySpill</a>
          </li>
          <li>
            <a href="/search-by-company" class="nav-item">
              🏢 search by company</a
            >
          </li>
          <li>
            <a href="/search-by-location" class="nav-item"
              >📍 search by location</a
            >
          </li>
          <li><a href="/leaderboard" class="nav-item">📋 leaderboard</a></li>
          <li><a href="/map" class="nav-item">🗺️ map </a></li>
          <li><a href="/about" class="nav-item"> 🙋about</a></li>
        </ul>
      </nav>
    </div>
    <div class="fullscreen-map">{{ mapHTML | safe}}</div>
    <script>
      document.getElementById('plotlyjs-obj').on('plotly_click', function(data) {
        window.location.href = '/spillinfo/' + data.points[0].lat + '/' + data.points[0].lon
      });
    </script>
  </body>
</html>
