<!-- 
  pageNotFound.html
  HTML template for 404 page not found errors
  Author: James, 10/9/2023
 -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Obligatory meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Other neccessary tags -->
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="google" content="notranslate" />
    <title>Error 404 - Page Not Found</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      .topnav {
        background-color: #979797;
        overflow: hidden;
        /* text-align: center; */
        /* padding-top: 10px;
           padding-bottom: 10px; */
      }
      .topnav p {
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div class="topnav">
      <p>PySpill</p>
      <br />
    </div>
    <p>Sorry, the URL {{ url }} was not found on the server.</p>
    <p>
      <!-- cannot do direct links to features there is no standalone homepage for each feature - Henry  -->
      Head back to our <a href="/">homepage</a> to checkout one our features:
      lookup by company or lookup by location
    </p>
  </body>
</html>
